<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- Syle links --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/styles/starability-basic.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <title>SH!tList</title>

</head>

<body>
  <button id="login-btn" class="btn btn-lg button">Log In</button>
  <button id="logout-btn" class="btn btn-lg button">Log Out</button>
  <div class="banner">
    <div class="container">
      <a href="/"><img src="/assets/img/banner.png"></a>
    </div>
  </div>
  <nav class="navbar navbar-dark justify-content-center">
    <form class="form-inline" id="search">
      <div class="form-group form-check">
        <input type="radio" class="form-check-input" name="cityZip" id="city">
        <label class="form-check-label" for="city">City</label>
        <input type="radio" class="form-check-input" name="cityZip" id="zip">
        <label class="form-check-label" for="zip">Zip Code</label>
      </div>
      <input class="form-control" id="search_text" type="text" placeholder="Enter City or Zip Code">
      <button class="btn btn-lg button" type="submit">Search</button>
    </form>
    <button class="btn btn-lg button" id="view-all"> View All</button>
  </nav>
  {{{body}}}
  {{!-- Java Script Links --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/assets/js/index.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6cOysWrTTuGX6nqfLZkqxk0yUMPnLhIs&callback=initMap">
  </script>
  <script src="/assets/js/passports.js"></script>
</body>

</html>