<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 formBack">
            <form id="login-form"> 
                <div class="form-group">
                    <label>Username</label>
                    <input type="email" class="form-control form-control-lg" id="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control form-control-lg" id="pword">
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block log-in">Log In</button>
                <button class="btn btn-dark btn-block signup">Sign Up</button>
            </form>
        </div>
    </div>
</div>